body {
  display: flex;
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  /* overflow: hidden; */
}

.result::-webkit-scrollbar {
  display: none;
}

.result {
  border: 2px solid;
  padding: 20px;
  background-color: white;
  border-color: rgba(234, 234, 234, 0.483);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 320px;
  height: 80vh;
  overflow-y: auto;
}

.resultHeader {
  border: 2px solid;
  padding: 10px;
  background-color: white;
  border-color: rgba(234, 234, 234, 0.483);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
}

.assets{
  display: flex;
}

.imgUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  color: black;
  background-color: white;
  padding: 20px;
  width: 150px;
  border-color: rgba(234, 234, 234, 0.483);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.imgUpload:focus {
  outline: none;
}

.imageArea {
  height: 200px;
  width: 200px;
  border: 2px solid;
  border-radius: 100px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
  border-color: rgba(234, 234, 234, 0.483);
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.imageWrapper {
  overflow: hidden;
}

.sizeInputs {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  background-color: white;
  padding: 20px;
  width: 125px;
  border-color: rgba(234, 234, 234, 0.483);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
  margin-bottom: 10px;
}

.sizeInputs label {
  margin-bottom: 5px;
}

input {
  width: 50px;
  font-size: 16px;
}

.sizeInputs input[type="number"],
.sizeInputs input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
}

.submit {
  width: 100px;
  height: 30px;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  border: 2px solid;
  background-color: white;
  border-color: rgba(234, 234, 234, 0.483);
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(190, 190, 190, 0.666);
}

/* .responseText {
  position: inherit;
  428 x 337.5
  916 x 741.875
} */

.breed-list {
  padding: 0;
  margin: 0;
}

.breed-list li {
  margin-bottom: 5px;
  display: block;
}

/* @media (max-width: 768px) {
  .result {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .result {
    width: 90%;
  }
} */