body {
  display: flex;
  background-color: rgb(48, 81, 138);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.result::-webkit-scrollbar {
  display: none;
}

.result {
  border: 2px solid;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.093);
  border-color: rgba(171, 41, 41, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  height: 80vh;
  overflow-y: auto;
}

.resultHeader {
  border: 2px solid;
  padding: 20px;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(114, 114, 114, 0.666);
}

.assets{
  display: flex;
}

.imgUpload {
  display: flex;
  border: 2px solid;
  background-color: white;
  padding: 20px;
  width: 180px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(114, 114, 114, 0.666);
  margin-bottom: 10px;
  margin-right: 10px;
}

.imageArea {
  background-color: white;
  height: 200px;
  width: 200px;
  border: 2px solid;
  border-radius: 100px;
  border-color: white;
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.imageWrapper {
  overflow: hidden;
}

.sizeInputs {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  background-color: white;
  padding: 20px;
  width: 150px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(114, 114, 114, 0.666);
  margin-bottom: 10px;
}

.sizeInputs label {
  margin-bottom: 5px;
}

input {
  width: 50px;
}

button {
  margin-bottom: 10px;
}

/* .responseText {
  position: inherit;
  428 x 337.5
  916 x 741.875
} */

.breed-list {
  padding: 0;
  margin: 0;
}

.breed-list li {
  margin-bottom: 5px;
  display: block;
}

/* @media (max-width: 768px) {
  .result {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .result {
    width: 90%;
  }
} */